body {
    margin: 0;
    padding: 0;
    font-family: "Anonymous pro", sans-serif;
}
.top{
    width: 100%;
    border-bottom: solid #A1A6B4 1px;
}
.top_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1161px;
    margin: auto;
    background-color: white;
}
.container_logo_top {
    margin: 20px 0 10px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}
.container_link {
    margin-right: 15px;
}
ul {
    display: flex;
    list-style: none;
}
a {
    font-weight: bold;
    font-family: "Anonymous pro", sans-serif;
    color: black;
    text-decoration: none;
}
.midle {
    width: 100%;
    background-color: #F5F5F5;
}
.midle_content {
    width: 1161px;
    margin: auto;
    padding: 32px 0 32px 0;
}
.content {
    border-radius: 50px;
    background-color: white;
    padding: 48px;
}
h1 {
    font-size: 48px;
    margin: 0 0 32px 0;
    font-weight: 400;
}
h2 {
    font-size: 36px;
    margin: 0 0 32px 0;
    font-weight: 400;
}
.container_text {
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
}
.sneaker_text {
    width: 506px;

}
.sneaker_parameters {
    width: 506px;
}
h4 {
    font-size: 30px;
    font-weight: 400;
    margin: 24px 0 24px 0;
}
h5 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0 24px 0;
}
.container_parameters {
    border-bottom: solid black 1px;
    display: flex;
    justify-content: space-between;
}
.bottom {
    width: 100%;
    background-color: #121723;
}
.content_bottom {
    width: 1161px;
    margin: auto;
}
.container_bottom {
    border-bottom: solid #E6E8EC 1px;
    display: flex;
    justify-content: space-between;
}
.container_logo_bottom {
    margin-top: 30px;
}
.container_link_bottom {
    margin-right: 15px;
}
.link_bottom {
    color: white;
}
.container_name_bottom {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}
h6 {
    margin: 0;
    color: #A1A6B4;
}
span {
    margin-right: 3px;
}
@media screen and (max-width: 500px) {
    .top {
        border-bottom: solid #A1A6B4 2px;
    }
    .top_content {
        width: 343px;
        flex-direction: column;
        align-items: center;
    }
    nav {
        margin-top: 0;
    }
    ul {
        padding: 0;
    }
    .midle_content {
        width: 343px;
    }
    .content {
        width: 343px;
        padding: 32px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
    }
    .container_img {
        width: 295px;
    }
    .name_sneaker {
        width: 295px;
    }
    .crossBig {
        width: 295px;
        height: 172px;
    }
    .container_text {
        flex-direction: column;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 20px;
        margin: 0 0 15px 0;
        line-height: 20px;
        font-weight: 400;
    }
    h3 {
        font-size: 16px;
        margin: 0 0 15px 0;
    }
    .sneaker_text {
        width: 295px;
    }
    .sneaker_parameters {
        width: 295px;
    }
    .content_bottom {
        width: 343px;
    }
    .container_bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}